/*csslint fallback-colors:false, box-model:false*/

.mainmenu ul {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    background: #292520;
    font-family: "FreeSerif";
}
.mainmenu > ul > li {
    display: inline-block;
    border-right: 1px solid #665f57;
    padding: 0;
    margin: 0;
}
.mainmenu > ul > li > a {
    display: inline-block;
    padding: 0.5em 0;
    color: #b3aba2;
    width: 10em;
    text-align: center;
    text-decoration: none;
}
.mainmenu > ul > li > a:hover {
    color: #d0c68e;
    background-color: #1a1814;
}

.mainmenu ul li ul {
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
    top: 2em;
    width: 9em;
    margin: 0.5em;
}
.mainmenu ul li ul li a {
    display: inline-block;
    padding: 0.5em 0;
    color: #292520;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.mainmenu ul li ul li a:hover {
    background-color: #d0c68e;
    color: #3d465b;
}



body {
    background: url("../flower.svg") fixed no-repeat bottom right;
}
sup {
    vertical-align: super;
    font-size: .6em;
}
.diagram {
    position: absolute;
    width: 660px;
    font-family: "FreeSerif";
    font-size: 120%;
    color: #333;
    line-height: 1.3;
    margin: 5% calc(50% - 400px);
    background-image: linear-gradient(90deg, transparent 29px, #e8e8e8 1px);
    background-size: 30px 30px;
    border-left: 1px solid #e8e8e8;
}
.sentence {
    position: relative;
    margin-bottom: 0.2em;
    border-left: 2px solid transparent;
    transition: border 200ms;
    padding-left: 3px;
    margin-left: -3px;
}
.sentence:hover {
    border-color: rgba(61, 70, 91, 0.5);
}
.sentence::before {
    top: 2px;
    font-size: 80%;
    content: attr(data-line-name) attr(data-line-index);
    left: -50px;
    width: 40px;
    position: absolute;
    text-align: right;
}
.sentence::after {
    content: attr(data-reason) " " attr(data-parent);
    right: -150px;
    width: 150px;
    top: 3px;
    position: absolute;
    text-transform: uppercase;
    font-size: 65%;
}
.sentence::after:hover::after {
    content: "asdfklja";
    right: 0;
    width: 25px;
    position: absolute;
    text-transform: uppercase;
    font-size: 65%;
}
.word {
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.word::before {
    position:absolute;
    content:"";
    display:none;
    width: calc(100% + 4px - 0.2em);
    height: calc(100% + 1px);
    top: 0;
    left: -2px;
    background: rgba(61, 70, 91, 0.5);
    z-index: -1;
    border-radius: 2px;
}
.word:hover::before {
    display: block;
}
.word:hover {
    color: #eee;
}

.anchor {
    position: absolute;
    width: 25px;
    height: 25px; /* line-height: 1.3 * font-size: 19.2 */
    top: 100px;
    left: 200px;
    border-radius: 50%;
    z-index: 10;
}
.anchor:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 50%;
    background-color: #7a7773;
    transform: scale(0.2);
    transition: all 200ms;
}
.anchor:hover:after {
    background-color: #3d465b;
    transform: scale(0.6);
    content: "\2693";
    color: #fff;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
}
.anchor ul {
    width: 300%;
    left: -100%;
    height: 0;
    position: absolute;
    display: block;
    top: 25px;
    overflow: hidden;
    opacity: 0;
    padding-top: 0;
    margin-top: -25px;
    transition: padding 200ms, opacity 500ms;
}
.anchor:hover ul {
    height: auto;
    opacity: 1;
    padding: 25px 5px 3px 5px;
}
.anchor ul li {
    border-bottom: 1px solid white;
}
.anchor ul li:first-child a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.anchor ul li:last-child a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.anchor ul li a {
    display: block;
    padding: 5px 2px;
    text-align: center;
    background-color: #eee;
    font-size: 80%;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #3d465b;
}
.anchor ul li a:hover {
    background-color: #5b8fc7;
    color: #eee;
}

.reasonPicker {
    position: absolute;
    width: 300px;
    height: 50px;
    transform: scale(0);
    opacity: 0;
    transition: all 200ms;
    z-index: 1046;
}
.showPicker {
    transform: scale(1);
    opacity: 1;
}

.highlightParent::before {
    content: "\21D2";
    font-weight: bold;
    color: red;
}




/* arrows */
.mainmenu ul li ul {
	/*position: relative;*/
	background: #b3aba2;
	border: 2px solid #665f57;
}
.mainmenu ul li ul:after, .mainmenu ul li ul:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.mainmenu ul li ul:after {
	border-color: rgba(179, 171, 162, 0);
	border-bottom-color: #b3aba2;
	border-width: 5px;
	margin-left: -5px;
}
.mainmenu ul li ul:before {
	border-color: rgba(102, 95, 87, 0);
	border-bottom-color: #665f57;
	border-width: 8px;
	margin-left: -8px;
}
